body{
    background-color: bisque;
    text-align: center;
    font-family: sans-serif;
    color: darkslateblue;
    margin: 0;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}